.contact-section {
  text-align: center; /* aligns paragraph and icons to center */
  background-color: #a096964a;
  padding: 40px;
  border-radius: 12px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(243, 242, 242, 0.1);
}

.contact-text {
  color: #050505;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 18px;
  color: #0d0d0d;
}

.contact-info a {
  color: #0d0d0d;
  text-decoration: none;
  margin-left: 5px;
}

.contact-info a:hover {
  text-decoration: underline;
}
